
@{
    Layout = null;
    lvduPhoneWin.Entity.good g = ViewBag.g;
} 

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Modify</title>
    
    <!-- jquery -->
    <script src="http://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>

    <!-- vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>

    <!-- bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">


</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light alert-success">
            <a class="navbar-brand" href="#">绿都大酒店</a>
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse collapse" id="navbarColor03" style="">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/Admin/Nav">分类管理</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Admin/Index">菜品管理</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Admin/upLoad">上传文件</a>
                    </li>

                </ul>

            </div>
        </nav>



        <div id="app">

            <form action="/Admin/ConfirmModify" method="get" id="myForm">
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="id">id</label>
                        <input type="text" class="form-control" id="id" name="id" value="@g.id" readonly>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="name">菜名</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="菜名" value="@g.name">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="name">所属列表</label>
                        <input type="text" class="form-control" id="name" name="upitem" placeholder="所属列表" value="@g.upitem">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputAddress">单价</label>
                    <input type="number" class="form-control" id="price" name="price" placeholder="0.00" value="@g.price">
                </div>
                <div class="form-group">
                    <label for="inputAddress2">图片</label>
                    <input type="text" class="form-control" id="image" name="image" placeholder="/image/*.jpg" value="@g.img">
                </div>
                <div class="form-group">
                    <label for="inputAddress2">菜品描述</label>
                    <input type="text" class="form-control" id="info" name="info" placeholder="菜品描述" value="@g.info">
                </div>

                <button type="submit" class="btn btn-primary">确定更改</button>
            </form>
        </div>
    </div>

    <script src="/js/plug-in.js"></script>
    <script src="http://malsup.github.com/jquery.form.js"></script>
    <script>
        $(document).ready(function () {
            $("#myForm").ajaxForm((data) => {
                $.Pop(data, "alert", function () {
                    window.close();
                });
            });
        });
    </script>
</body>
</html>
